# NPM Dependency directory
node_modules

# Bower Dependency directory
public/lib

# Compiled files
public/modules/*/styles/
public/styles/
public/app.*
*.js.map
*.css.map

# Coverage/Analysis files
coverage
report

# Secret files
config/env/all.js
config/env/development.js
config/env/staging.js
config/env/production.js
config/env/test.js
