<link rel="stylesheet" href="/modules/order/styles/order.css">

<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>HTHS Lunch</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button ng-if="user.isAdmin" ng-click="goToDashboard()">Panel</md-button>
      <md-button ng-click="signout()">Sign out</md-button>
    </div>
  </md-toolbar>
  <md-content>
<!--     <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
    <h1><a href="#">My Site</a></h1>
  </li>
  Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>

<section class="top-bar-section">
  Left Nav Section
  <ul class="left"></ul>

  Right Nav Section
  <ul class="right">
    <li class="has-dropdown">
      <a><span class="user-display-name">{{user.displayName}}</span><img class="user-profile-picture" ng-src="{{user.providerData.picture}}"></a>
      <ul class="dropdown">
        <li><a ui-sref="userProfile">Profile</a></li>
        <li><a ng-click="signout()">Sign out</a></li>
      </ul>
    </li>
  </ul>
</section>
  </nav> -->
  <form name="orderForm">
    <div layout="column" layout-margin layout-align="center center">
      <md-input-container>
        <label>Name</label>
        <input type="text" placeholder="Johnny Appleseed" required="required" ng-model="newOrder.customer">
      </md-input-container>
      <md-list>
        <md-item ng-repeat="item in menu" ng-show="item.active">
          <md-item-content>
            <div class="md-tile-left">
							<md-checkbox ng-model="item.checked" ng-change="toggleItemInOrder($index)" aria-label="Select item?">
              <!-- <md-switch ng-model="newOrder.items[\$index]" ng-true-value="item" ng-false-value="null" ng-change="recalculateTotal()" aria-label="Toggle item"></md-switch> -->
            </div>
            <div class="md-tile-content">
              <h3>{{item.title}}</h3>
              <h4>{{item.description}}</h4>
              <p>{{item.price | currency}}</p>
            </div>
            <div>
            	<md-input-container>
            		<label>Quantity</label>
              	<input type="number" min="0" step="1" pattern="\d*" required ng-disabled="!item.checked" ng-model="item.quantity" ng-change="recalculateTotal()" ng-blur="checkIfBlank($index)">
              </md-input-container>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
    </div>
    <div layout="column" layout-margin layout-align="center center">
      <p>Total: {{newOrder.total | currency}}</p>
      <md-button type="submit" class="md-raised md-primary" ng-click="submitOrder()" ng-disabled="!newOrder.total">{{newOrder.toBeUpdated ? 'Update' : 'Submit'}} Order!</md-button>
      <br>
      <md-button class="md-raised md-primary" ng-click="loadLastOrder()">Load Previous Order</md-button>
      <br>
      <md-button class="md-raised md-warn" ng-click="deleteOrder()" ng-disabled="!newOrder.toBeUpdated">Delete Order</md-button>
    </div>
  </form>
  </md-content>
</div>
