.item .active {
  background: #43ac6a; }
.item .inactive {
  background: #f04124; }

.content {
  display: flex; }

.dashboard-nav {
  padding: 25px;
  width: 200px;
  font-size: 20px;
  list-style: none; }

[class^="icon-"] {
  padding: 10px;
  font-size: 16px; }

.dashboard-view {
  flex: 1 1 auto; }
