<link rel="stylesheet" href="/modules/panel/styles/dashboard.css">

<section layout="row" flex>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('min-width: 333px')">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Dashboard</h1>
    </md-toolbar>
    <md-content class="md-padding">
      <md-content>
        <md-list>
          <md-item ng-repeat="menuItem in menuItems">
            <md-item-content>
              <div class="md-tile-left">
                <span class="{{menuItem.iconClass}}"></span>
              </div>

              <div class="md-tile-content">
                <a ui-sref="{{menuItem.uiSref}}">{{menuItem.text}}</a>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </md-content>
    </md-content>
  </md-sidenav>

  <md-content class="md-padding" flex>
    <div layout="column" layout-fill layout-align="center center">
      <div>
        <div ui-view="dashboard"></div>
      </div>
    </div>
  </md-content>
</section>
