<link rel="stylesheet" href="/modules/panel/styles/dashboard.css">

<nav class="dashboard-nav">
  <li><a ui-sref="dashboard"><span class="icon-settings"></span>Dashboard</a></li>
  <li><a ui-sref="dashboard.items"><span class="icon-tags"></span>Items</a></li>
  <li><a ui-sref="dashboard.orders"><span class="icon-cart"></span>Orders</a></li>
  <li><a ui-sref="dashboard.schedule"><span class="icon-calendar"></span>Schedule</a></li>
  <li><a ui-sref="dashboard.analytics"><span class="icon-stats"></span>Analytics</a></li>
</nav>
<div class="dashboard-view" ui-view="dashboard"></div>
