<h2>Orders</h2>
<table rules="none"><!-- get rid of border between cells -->
  <thead>
    <tr>
      <th>Customer</th>
      <th>Food</th>
      <th>Total</th>
      <th>Time</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <tr class="order" ng-repeat="order in orders | orderBy: '-timestamp'">
      <td>{{order.customer}}</td>
      <td>{{order | prettyprint}}</td>
      <td>{{order.total | currency}}</td>
      <td>{{order.timestamp | date: 'shortTime'}}</td>
      <td><a class="button tiny alert" ng-click="deleteOrder($index)">Delete</a></td>
    </tr>
  </tbody>
</table>
