<md-tabs>
  <md-tab class="md-hue-2" md-selected="true" label="Schedule">
    <div layout="column" layout-fill layout-align="space-around center">
      <table>
        <thead>
          <tr>
            <th>Mon.</th>
            <th>Tues.</th>
            <th>Wed.</th>
            <th>Thurs.</th>
            <th>Fri.</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="week in schedule">
            <td ng-repeat="day in week track by $index">{{day | date: 'mediumDate'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-tab>
  <md-tab label="Create Schedule">
    <div layout="column" layout-fill layout-align="center">
      <form layout="row">
        <div flex="40">
          <h2>Create schedule</h2>
          <md-text-float type="date" label="Start date" required ng-model="newSchedule.startDate"></md-text-float>
          <md-text-float type="date" label="End date" required ng-model="newSchedule.fakeEndDate"></md-text-float>
          <md-text-float type="time" label="Submission time" required ng-model="newSchedule.submissionTime"></md-text-float>
          <md-text-float type="text" label="Dates to skip (mm/dd/yyyy, mm/dd/yyyy)" placeholder="mm/dd/yyyy, mm/dd/yyyy" required ng-model="newSchedule.datesToSkip"></md-text-float>
          <md-button type="submit" ng-click="createSchedule()">Create Schedule!</md-button>
        </div>
      </form>
    </div>
  </md-tab>
</md-tabs>
