<section>
  <md-subheader class="md-primary">Users</md-subheader>
  <md-list layout="column">
    <md-item>
      <md-item-content>
        <div class="md-tile-left" hide-sm></div>
        <div class="md-tile-content" layout="row">
          <p flex>Name</p>
          <p flex>Email</p>
          <p flex>Admin</p>
          <p flex>Status</p>
          <p flex>Invite</p>
          <p flex>Delete</p>
        </div>
      </md-item-content>
      <md-divider></md-divider>
    </md-item>
    <md-item ng-repeat="user in users">
      <md-item-content>
        <div class="md-tile-left" hide-sm>
          <img ng-src="{{user.providerData.picture}}" class="face" width="48">
        </div>
        <div class="md-tile-content" layout="row">
          <p flex>{{user.displayName}}</p>
          <p flex>{{user.email}}</p>
          <p flex>{{user.isAdmin ? 'Yes' : 'No'}}</p>
          <p flex>{{user.status}}</p>
          <p flex><md-button class="md-raised" ng-show="user.status === 'Pending invite'" ng-click="inviteRequestedUser(user)">Invite</md-button></p>
          <p flex><md-button class="md-raised md-warn" ng-click="deleteUser(user)">Delete</md-button></p>
        </div>
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
    </md-item>
  </md-list>
</section>

<form layout="row">
  <div flex="40">
    <h2>Invite user</h2>
    <md-text-float label="Email" placeholder="johnny.appleseed@gmail.com" ng-model="newUser.email"></md-text-float>
    <md-switch ng-model="newUser.isAdmin">Admin?</md-switch>
    OR
    <md-text-float type="file" label="CSV" placeholder="users.csv" ng-model="csvFile"></md-text-float>
    <md-button class="md-primary md-raised" ng-click="inviteNewUser()">Invite user!</md-button>
  </div>
</form>
