<section>
  <md-subheader class="md-primary">Users</md-subheader>
  <md-list layout="column">
    <md-item>
      <md-item-content>
        <div class="md-tile-left"></div>
        <div class="md-tile-content" layout="row">
          <p flex>Name</p>
          <p flex>Email</p>
          <p flex>Admin</p>
          <p flex>Status</p>
          <p flex>Invite</p>
        </div>
      </md-item-content>
      <md-divider></md-divider>
    </md-item>
    <md-item ng-repeat="user in users">
      <md-item-content>
        <div class="md-tile-left"><img ng-src="{{user.providerData.picture}}" class="face" width="48"></div>
        <div class="md-tile-content" layout="row">
          <p flex>{{user.displayName}}</p>
          <p flex>{{user.email}}</p>
          <p flex>{{user.isAdmin ? 'Yes' : 'No'}}</p>
          <p flex>{{user.status}}</p>
          <p flex><md-button class="md-raised" ng-show="user.status === 'Pending invite'" ng-click="inviteRequestedUser(user)">Invite</md-button></p>
        </div>
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
    </md-item>
  </md-list>
</section>

<form>
  <div class="row">
    <h2>Invite user</h2>
  </div>
  <div class="row">
    <div class="small-8">

      <div class="row">
        <div class="small-3 columns">
          <label for="user-email" class="right inline">Email</label>
        </div>
        <div class="small-9 columns">
          <input type="email" id="user-email" required tabindex="2" ng-model="newUser.email">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="user-status" class="right inline">Admin</label>
        </div>
        <div class="small-9 columns">
          <input type="checkbox" id="user-status" required tabindex="3" ng-model="newUser.isAdmin">
        </div>
      </div>

      <div class="row">
        <div class="small-9 small-offset-3 columns">
          <a class="button" tabindex="4" ng-click="inviteNewUser()">Invite user!</a>
        </div>
      </div>

    </div>
  </div>
</form>
