doctype html
html(lang='en', ng-app='hthsLunch')
  head
    title= pageTitle
    link(rel='stylesheet', href='/lib/foundation/css/foundation.css')
    script(src='/app.js')
  body
    base(href='/')
    div(ui-view='main')
