doctype html
html(lang='en', ng-app='hthsLunch')
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', href='/lib/foundation/css/foundation.css')
    link(rel='stylesheet', href='/styles/global.css')
    script(src='/app.min.js')
  body
    base(href='/')
    div.content(ui-view='main')
    script(type='text/javascript').
      $(document).foundation();
      var user = !{JSON.stringify(user)};
